# Unit testing
pytest
pytest-mock
coverage
mock

# Code style
# black
isort
pre-commit

scrypt==0.8.13
appdirs==1.4.3
# graphenelib==1.1.18
graphenelib==1.5.1
prettytable
events
pyyaml

# for AES, installed through graphenelib already
# pycryptodome==3.8.1
# pycryptodome<4,>=3.9.1

# for the CLI tool
click
treelib

# ecdsa>=0.14 # not directly required, pinned by Snyk to avoid a vulnerability
ecdsa>=0.13.3,<0.14
